.container{
    margin-bottom: 100px;
}
.orange-bg{
   background-color: rgb(235, 163, 205);
}
.carousel-item{
    padding: 20px 40px;
}
#price{
   color: #ff137f;
}
.cat1, .cat2 , .cat3 {
    padding: 10px 30px;
    border-radius: 10px;
   
}
.cat1{
    background-color: orange;
    
}
.cat2{
    background-color: orchid;
   
}
.cat3{
    background-color: blue;
    
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}
.card-footer{
    background-color: rgb(255, 255, 255);
    border-top: none;
}
.container{
   height: 300px;
    padding:20px 30px;
}
#Subscribe h6{
    color:gray;
}
footer{
   text-align: center;
}
